body {
  background-color: #0d0d0d;
  color: #99f702d0;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}


.Poster {
  width: 200px;
  height: 300px;
  object-fit: cover; 
  display: block;
  margin: 0 auto
}
