body{
    background-color: #0d0d0d; 
}
                                                                                                                                                                                            
.card {
    color: #00ff00;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.card h2 {
    text-shadow: 0 0 10px #00ff00;
    margin-bottom: 10px;
}

.card p {
    text-shadow: 0 0 5px #00ff00;
    margin: 5px 0;
}
